.overlay {
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    width : 75%;
    height: 100%;
    margin: auto;
}