
.sidebar{
    z-index: 1001;
    width: 33%;
    height: 100vh;
    top: 70px;
    right:-33%;
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    transition:all .5s linear;
    ul{
        width: 100%;
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        li{ display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex: 1;
            border-bottom: 0.5px solid rgba(169, 167, 167, 0.5);
            a{text-align: center;
                text-decoration: none;
                color: white;
                cursor: pointer;
                &:hover{
                    color: purple;
                }
            }
        }
    }
}

