.totop{
   
  

    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(
        262deg
        , #0da2dd, #1add0d);
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        &:hover{
           color: white;
        }
        svg{
            color: white;
            font-size: 20px;
        }
    }
    &.active{
        opacity: 1;
        bottom: 20px;
    }
}